.sidebar{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
}
.logo{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.logo>img{
    width: 3rem;
    height: 3rem;     
}
.logo>span{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

}
.logo>span>span{
    color: pink;
}
/* menu item here */

.menu{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 2rem;
    align-self: flex-start;
}
.items{
    display: flex;
    gap: 1.5rem;
    position: relative;
    height: 2rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 8px 15px;
}
.items>span{
    font-style: italic;
}
.logout{
    align-self: flex-start;
    margin-top: 3rem;
    padding-left: 1rem;
}
.logout>span{
    font-size: 3rem;
    transition: all 300ms ease;
}
.items:hover{
    cursor: pointer;
    

}
.active{
    background-color: pink;
    border-radius: 1rem;
    height: auto;
    width: auto;
    background-color: pink;
}
